C:\Users\xufia\OneDrive\Documentos\Programação - Cursos\Projetos\.ipynb_checkpoints
C:\Users\xufia\OneDrive\Documentos\Programação - Cursos\Projetos\.vscode
C:\Users\xufia\OneDrive\Documentos\Programação - Cursos\Projetos\autogpt
C:\Users\xufia\OneDrive\Documentos\Programação - Cursos\Projetos\grafana